{% extends '/layout/main.html' %}
{% set title = 'Edit Data' %}
{% set page_active = 'mahasiswa' %}

{% block _content %}
<div class="row justify-content-center ">
    <div class="col-lg-6">
        <h3 class="text-center">Edit Mahasiswa</h3>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="mb-1">
                <label for="nama_lengkap" class="form-label">Nama lengkap</label>
                <input type="text" name="nama_lengkap" class="form-control" id="nama_lengkap"
                    placeholder="Masukan Nama Lengkap" required value="{{ data.nama_lengkap }}">
            </div>
            <div class="mb-1">
                <label for="nim" class="form-label">NIM</label>
                <input type="number" name="nim" class="form-control" id="nim" placeholder="Masukan Nama NIM" required
                    value="{{ data.nim }}">
            </div>
            <div class="mb-1">
                <label for="jurusan" class="form-label">Jurusan</label>
                <input type="text" name="jurusan" class="form-control" id="jurusan" placeholder="Masukan Nama Jurusan"
                    required value="{{ data.jurusan }}">
            </div>
            <div class="mb-1">
                <label for="tgl_lahir" class="form-label">Tanggal Lahir</label>
                <input type="date" name="tgl_lahir" class="form-control" id="tgl_lahir"
                    placeholder="Masukan Nama Tanggal Lahir" required value="{{ data.tgl_lahir }}">
            </div>
            <div class="mb-1">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Masukan Nama Email"
                    required value="{{ data.email }}">
            </div>
            <div class="mb-1">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}